body {
    background-color: dimgray;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    font-family: sans-serif;
    color: rgb(31, 31, 31);
}

.container {
    flex: 1;
    display: grid;
    grid-template-columns: minmax(200px, 1fr) 6fr;
    grid-template-rows: 1fr;
}

.main-header {
    background-color: tomato;
    padding: 1rem;
    text-align: center;
    color: rgb(85, 0, 0);
}

.main-footer {
    grid-column: span 2;
    background-color: rgb(27, 27, 27);
    color: white;
    text-align: center;
}

.main-content {
    padding: 1rem;
}

.page-title {
    margin-top: 0;
    color: rgb(12, 12, 12);
}

.article-teaser {
    background-color: white;
    padding: 1rem;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.226);
}

.article-teaser h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: rgb(37, 37, 37);
}

.article-teaser h1+p {
    font-style: italic;
    margin-top: 0;
    color: rgb(54, 54, 54);
    font-size: .8rem;
}

.article-teaser h1 a {
    text-decoration: none;
    color: inherit
}

.article-teaser h1 a:hover {
    text-decoration: underline;
}

.article-teaser footer a {
    display: block;
    background-color: tomato;
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: white;
}

.articles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}