
body{
background-color:lightblue;
padding: 12px;
}

.container{ width:1000px;
    background-color:rgba(153, 79, 79, 0.459);

}

h1{
    font-size:3rem;
    color:blueviolet;
}
title{
    font-size:2rem;
    color: blue;
}

.todo{
  
    background:lightcyan;
    border-bottom:1px, solid; black;
}

.todo-header span{
    font-weight:bold;
}
.todo-assigned_to,
.todo-deadline{
    font-style:italic;
}
.todos{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
}

